.contains{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 17%;
    background-image: url('https://res.cloudinary.com/dxgfa8mob/image/upload/v1688511590/PI%20Countries/GettyImages-1039558524-Converted-600px_nhw03p.jpg');
    border-radius: 17%;
    box-shadow: 0px 0px 10px 2px rgb(66, 130, 175);
}

.contains img{
    width: 30%;
    height: 30%;
    border-radius: 35%;
    

}

.Link{
    text-decoration: none;
    color: rgb(246, 247, 239);
    
}

.country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1%;
    height: 1%;
    padding-top: 5%;
    padding-left: 50%;
}

.continent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1%;
    height: 1%;
    padding-top: 5%;
    padding-left: 50%;
}


@media screen and (max-width: 1280px) {
    .contains{
        height: 27%;
    }
    .country{
        font-size: 70%;
        font-weight: bolder;
    }
    .continent{
        font-size: 70%;
        font-weight: bolder;
    }
}

@media screen and (max-width: 768px){
    .contains{
        flex-direction: column wrap;
        height: 28%;
    }
    .country{
        font-size: 60%;
        font-weight: bolder;
    }
    .continent{
        font-size: 60%;
        font-weight: bolder;
    }
}

@media screen and (max-width: 640px) {
    .country{
        font-size: 60%;
        font-weight: bolder;
    }
    .continent{
        font-size: 60%;
        font-weight: bolder;
    }
}

@media screen and (max-width: 475px) {
    .contains{
        height: 40%;
    }
    .country{
        font-size: 50%;
        font-weight: bolder;
    }
    .continent{
        font-size: 50%;
        font-weight: bolder;
    }
}