.contains{
    display: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 820px;
    width: 1690px;
}

.cards{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10%;
    height: 90%;
    width: 80%;
}

.paginate{
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: flex-end;
    border-top: 50px;
    padding-top: 50px;
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .cards{
        height: 66%;
    }
}

@media screen and (max-width: 768px){
    .cards{
        height: 64%;
    }
}

@media screen and (max-width: 640px) {
    .cards{
        height: 60%;
    }
}

@media screen and (max-width: 475px) {
    .cards{
        height: 80%;
    }
}