.contains{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    margin-top: -3%;
}

.number{
    display: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 240);
    margin-left: 10%;
    margin-right: 10%;
   
}

.button{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: rgb(65, 63, 99);
    color: rgb(248, 243, 243);
    border: 5px double rgb(62, 111, 180);
    border-radius: 80%;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(52, 209, 223);
    border: 5px double rgb(52, 209, 223);
}

.buttonDistance{
    margin: 0 5%;
}