.contains{
    display: flex;
    align-items: center;
    background-image: url('https://geogebra.es/gauss/materiales_didacticos/eso/actividades/geometria/cuerpos/tierra1/img/planisferio.gif');  
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1920px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 80%;
    background: rgba(255, 255, 255, 0);
    border-radius: 10%;
    box-shadow: 0px 0px 10px 2px rgb(219, 255, 214);
}

.form h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.form label{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.form input{
    background: rgb(126, 47, 16);
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.form select{
    background: rgb(126, 47, 16);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.tag{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(255, 255, 255);


}

.button{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    background: rgb(126, 47, 16);
    color: rgb(255, 255, 255);
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1536px) {
    .contains{
        width: 1280px;
    }
    .form{
        width: 50%;
    }
}

@media screen and (max-width: 1280px) {
    .contains{
        width: 768px;
    }
    .form{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .contains{
        width: 640px;
    }
    .form{
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .contains{
        width: 475px;
    }
    .form{
        width: 25%;
    }
    .form select{
        width: 65%;
    }
    .form h2{
        font-size: 100%;
    }
    .form label{
        font-size: 100%;
    }
}

@media screen and (max-width: 475px) {
    .contains{
        width: 100%;
    }
    .form{
        width: 25%;
    }
    .form select{
        width: 65%;
    }
}