.contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.options{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options label{
    font-size: 150%;
    color: rgb(255, 255, 255);
    background-color: transparent;
    
}

.options select{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background: #ffffffcb;
    cursor: pointer;
}

.button{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 5px double rgb(255, 255, 255);
    border-radius: 20%;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(88, 255, 249);
    border: 5px double rgb(107, 248, 255);
}

